<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      .userPanel, .gamePanel, .optionsPanel {
        margin: 10px 20px;
        background-color: #eee;
      }
      .userPanel .user {
        display: inline-block;
        margin: 0 10px;
        padding: 8px 10px;
        text-align: center;
        background-color: #ede;
        user-select: none;
      }
      .userPanel .user.delete {
        opacity: 0.6;
      }
      .optionsPanel #userName {
        font-size: 18px;
      }
      .optionsPanel .options {
        display: flex;
        margin-top: 10px;
      }
      .optionsPanel .options > div {
        margin-right: 10px;
        padding: 8px 10px;
        background-color: #efe;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="userPanel">
        <p class="tips"></p>
        <div class="userList">
          <div class="user">
            <span class="userName">xxxx</span>
          </div>
        </div>
      </div>
      <div class="gamePanel">
        <p class="word"></p>
      </div>
      <div class="optionsPanel">
        <input id="userName" type="text" placeholder="用户名" />
        <div class="options">
          <div id="register" onclick="register()">加入</div>
          <div id="startgame" onclick="startgame()">开始</div>
        </div>
      </div>
    </section>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on('register', (data) => {
      console.log('register', data);
    })
    socket.on('userList', (data) => {
      console.log('userList', data);
      const container = document.querySelector('.userPanel');
      const userListContainer = container.querySelector('.userList');
      container.querySelector('.tips').innerHTML = `当前在线人数：${data.length}`;
      userListContainer.innerHTML = data.map(userInfo => `
      <div class="user ${userInfo.isVoted && 'delete'}" onclick="vote(event)">
        <span class="userName">${userInfo.name}</span>
        <div class="btn">投票</div>
      </div>`).join('');
    })
    socket.on('word', (data) => {
      console.log('word', data);
      document.querySelector('.gamePanel .word').innerHTML = `你的关键词： ${data}`;
    })
    socket.emit('roomInfo')

    function startgame() {
      socket.emit('startGame');
    }
    function register() {
      socket.emit('register', {
        name: document.querySelector('#userName').value,
      });
    }
    function vote(event) {
      socket.emit('vote', {
        name: event.currentTarget.querySelector('.userName').innerHTML,
      });
    }
  </script>
</html>